{
  "Dhcp4": {
    "interfaces-config": {
      "interfaces": [ "{{manager.interface}}" ]
    },
    "control-socket": {
        "socket-type": "unix",
        "socket-name": "/run/kea/kea4-ctrl-socket"
    },
    "lease-database": {
        "type": "memfile",
        "lfc-interval": 3600
    },
    "dhcp-ddns": {
        "enable-updates": true
    },
    "ddns-qualifying-suffix": "{{subnet.options.domain-name}}",
    "ddns-override-client-update": true,
    "valid-lifetime": 600,
    "max-valid-lifetime": 7200,
    "subnet4": [
      {
        "id": 1,
        "subnet": "{{subnet.cidr}}",
        "pools": [
          {
            "pool": "{{subnet.range.from}} - {{subnet.range.to}}"
          }
        ],
        "option-data": [
            {% for key, value in subnet.options.iteritems() %}
            {
            "name": "{{key}}",
            "data": "{{value}}"
            },
            {% endfor %}
        ]
      }
    ]
  }
}

